@charset "utf-8";
.only-pc{display:block !important;}
.only-mob{display:none !important;}
.btn-wrap.bottom{display:none;}
.menu {display:none;}
.inner{position:relative;margin:0 auto;width:800px;}
.title{font-size:48px;line-height: 1;font-weight:700}
.title.dot span{position:relative;font-size:48px;line-height: 1;font-weight:700}
.title.dot span:before{content: '';position: absolute;top: -10px;left: 50%;width: 8px;height: 8px;background: #020202;border-radius: 50%;transform: translateX(-50%);}
.title2{font-size:28px;color:#309064;font-weight:700;}
section{padding:130px 0;}
.list-wrap li{position:relative;padding-left:15px;color:#666;font-weight:400;font-size:14px;line-height: 20px;margin-top:8px;}
.list-wrap li:first-child{margin-top:0;}
.list-wrap li::before{content:'◆';position:absolute;left:0;top:0;font-size:10px;color:#666;}
.section03 .list-wrap .letter-spacing-m{color:#666;font-weight:400;font-size:14px;line-height: 20px;}

.gnb-wrap{position: fixed;top:0;width:100%;height:80px;background:#3da079;z-index: 100;}
.gnb-wrap .inner{display: flex;height:80px;align-items: center;}
.gnb-wrap .logo{flex:0 0 auto;width:143px;}
.gnb-wrap .logo img{width:100%;}
.gnb-wrap .util{display: flex;align-items: center; margin-left:auto;text-align: right;}
.gnb-wrap .nav-wrap{display: flex;align-items: center; margin-right:26px}
.gnb-wrap .nav-wrap a{color:#fff;margin-left:10px}
.gnb-wrap .nav-wrap a:first-child{margin-left:0;}
.gnb-wrap .nav-wrap a:hover{transform: scale(1.08);transition: all 0.3s;}
.gnb-wrap .btn-wrap{position: relative;top: -2px;}


.btn-wrap{display: flex;align-items: center;}
.btn-wrap .btn{position:relative;flex:0 auto;padding:11px 12px 9px;background:#fff;  border-radius: 17px;color:#0f7b50;letter-spacing: -0.35px;line-height: 1;font-weight:700;font-size:13px}
.btn-wrap .btn + .btn{margin-left:12px;}
.btn-wrap .btn:hover{transform: scale(1.08);transition: all 0.3s; }

.section01{padding-top:0;}
.visual-wrap{position:relative;width:100%;height:902px; margin-top:80px;background: url(../images/main_image.png) no-repeat center bottom; background-size: cover;padding-top:100px;}
.visual-wrap .img-title{width:627px;height:274px;}
.visual-wrap img{width:100%;height:100%;}
.visual-wrap .text-wrap{padding-top:135px;}
.visual-wrap .text-wrap p{font-size:40px;line-height: 48px;color:#fff;}
.visual-wrap .text-wrap p + p{margin-top:10px;}

.youtube-wrap{padding-top:100px;}
.youtube-wrap .youtube-box{width:100%;height:437px;margin-top:30px;border-radius: 12px;overflow: hidden;}
.youtube-wrap.n2{padding-bottom:130px;}
.youtube-wrap.n2 .title{line-height: 56px;;}
.youtube-wrap.n2 .youtube-box{height:412px;}

.section-bg{background: linear-gradient(to right,#eff2f1 calc(100% - 20px) , #fff 20px);}


.section-bg{position:relative}
.section02{padding:100px 0;}
.part-wrap{display:flex;align-items: flex-start; margin-top:25px;}
.part-wrap .part-box .part-title{font-size:24px;color:#309064;font-weight:700;line-height: 1;}
.part-wrap .part-box dd{position:relative;display: flex;flex-wrap: wrap; margin-top:15px;font-weight:700;font-size:18px;padding-left:19px;}
.part-wrap .part-box dd:before{content:'◆';position:absolute;top:0px;left:0;font-size:14px;}
.part-wrap .part-box dd:first-of-type{margin-top:30px;}
.part-wrap .part-box dd p{flex:0 100%;color:#ababac;margin-top:3px;}
.part-wrap .part-box dd .lable{font-size:12px;color:#fff;font-weight:700;padding:3px 7px 2px 7px;border-radius: 4px;display: flex;align-items: center;justify-content: center;margin-left:12px;position:relative;top:-2px;}
.part-wrap .part-box dd .lable + .lable{margin-left:5px;}
.part-wrap .part-box dd .lable.type01{background:#ea236f}
.part-wrap .part-box dd .lable.type02{background:#935ad7}
.part-wrap .part-box{flex:0 0 auto;height:100%;}
.part-wrap .part-box {margin-right:43px;border-right:1px solid #88b5a6;}
.part-wrap .part-box  + .part-box{margin-right:0;border-right:0;}

.section03{overflow: hidden;}

.section-bg .image-item{position:Absolute;}
.section-bg .image-item.n1{top: -435px; right: -540px;width:1173px;height:1861px;background:url(../images/image_item01.png) 0 0 no-repeat;background-size:100%;}
.section-bg .image-item.n2{bottom: -240px;left: -767px;width:1273px;height:1208.4px;background:url(../images/image_item02.png) 0 0 no-repeat;background-size:100%;}
.section-bg .image-item.n3{bottom: -200px;right: -860px;;width:1273px;height:1208.4px;background:url(../images/image_item02.png) 0 0 no-repeat;background-size:100%; animation-delay:1s}


.recruitment-slide{position:relative;width:1510px;margin:55px auto 0;}
.recruitment-slide .swiper{padding:20px 0 100px;}
.recruitment-slide .swiper-slide{width:286px;}
.recruitment-slide .recruitment-item{display: flex;justify-content: space-between; flex-direction: column; width:286px; height:268px;background:url(../images/rec01.png) 0 0 no-repeat;background-size:100%; border-radius: 34px;padding:30px 0 24px;cursor: pointer;}
.recruitment-slide .recruitment-item .tit-wrap {text-align: center;}
.recruitment-slide .recruitment-item .tit-wrap .tit{color:#fff;font-size:24px;font-weight:700;}
.recruitment-slide .recruitment-item .tit-wrap .txt{color:#fff;font-size:16px;width: 230px;margin: 0 auto;font-weight:400}
.recruitment-slide .recruitment-item .hash-tag{ margin-left:auto;   text-align: center;word-break: keep-all;margin: 0 auto;}
.recruitment-slide .recruitment-item .hash-tag span{display:inline-block;color: #fff;font-size: 14px;font-weight:400}

.swiper .swiper-control{position:absolute;width:800px;height:53px; bottom:0;left:50%;transform: translateX(-50%);}
.swiper .swiper-pagination-fraction{bottom:13px;width:100px;margin-left:-50px;left:50%;}
.swiper .swiper-button-prev{top:auto;bottom:5px;width:53px;height:53px;background: url(../images/slide-arrow-prev.png) 0 0 no-repeat;background-size: 100%;}
.swiper .swiper-button-prev:after{display:none;}
.swiper .swiper-button-next{top:auto;bottom:5px;width:53px;height:53px;background: url(../images/slide-arrow-next.png) 0 0 no-repeat;background-size: 100%;}
.swiper .swiper-button-next:after{display:none;}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover{transform: scale(1.1);transition: 1s;}

/* .swiper .swiper-slide.swiper-slide-active{transform: scale(1.05);transition: 0.3s;} */
.swiper .recruitment-item:hover{background-color:#fff;opacity: 0.7;transition: 0.3s;}

.recruitment-slide .recruitment-item.n1{background-image: url(../images/rec01.png);}
.recruitment-slide .recruitment-item.n2{background-image: url(../images/rec02.png);}
.recruitment-slide .recruitment-item.n3{background-image: url(../images/rec03.png);}
.recruitment-slide .recruitment-item.n4{background-image: url(../images/rec04.png);}
.recruitment-slide .recruitment-item.n5{background-image: url(../images/rec05.png);}


.section03{padding-top:0;}
.section03 .title2{margin-top:45px;}
.process{display: flex;align-items: center;margin:20px 15px 0;}
.process .process-item{position:relative;flex:1;text-align: center;}
.process .process-item i{position:relative;display: block;width:52px;height:52px;margin:0 auto;background:pink;}
.process .process-item:after{content:'';position:absolute;width:12px;height:12px;border-bottom:2px solid #000;border-right:2px solid #000;    transform: rotate(-45deg);top: 60px;left: -6px;}
.process .process-item:first-child:after{display: none;}
.process .process-item.n1 i{background: url(../images/process01.png) 0 0 no-repeat;background-size:100%;}
.process .process-item.n2 i{background: url(../images/process02.png) 0 0 no-repeat;background-size:100%;}
.process .process-item.n3 i{background: url(../images/process03.png) 0 0 no-repeat;background-size:100%;}
.process .process-item.n4 i{background: url(../images/process04.png) 0 0 no-repeat;background-size:100%;}
.process .process-item.n5 i{background: url(../images/process05.png) 0 0 no-repeat;background-size:100%;}
.process .process-item.n6 i{background: url(../images/process06.png) 0 0 no-repeat;background-size:100%;}
.process .process-item .tit{font-size:18px;font-weight:700;margin-top:5px;}
.process .process-item .txt{font-size:14px;color:#333;font-weight:700;margin-top:3px;}
.section03 .list-wrap{margin-top:28px;}


.section04{background:#eff2f1;}
.benefit-slide{position:relative;width:1920px;margin:55px auto 0;}
.benefit-slide .swiper{padding:20px 0 100px;}
.benefit-slide .swiper-slide {width:287px; }
.benefit-slide .benefit-slide-item{position:relative;display: flex;justify-content: space-between; flex-direction: column; width:287px; height:226px;background:#fff;background-size:100%; border-radius: 34px;padding:30px 30px 24px;box-shadow: 0 0 2px 0 rgba(160, 160, 160, 0.16);}
.benefit-slide .benefit-slide-item .tit-wrap {text-align: left;}
.benefit-slide .benefit-slide-item .tit-wrap .tit{color:#309064;font-size:20px;font-weight:700;}
.benefit-slide .benefit-slide-item .tit-wrap .txt{color:#666;font-size:14px;font-weight:400;margin-top:5px;line-height: 20px;word-break: keep-all;}
.benefit-slide .benefit-slide-item .benefit-icon{position:absolute;bottom:16px;right:24px;width:72px;height:72px;background:url(../images/
) 0 0 no-repeat;background-size:100%;}

.benefit-slide .benefit-slide-item .benefit-icon.n1{background-image:url(../images/benefit01.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n2{background-image:url(../images/benefit02.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n3{background-image:url(../images/benefit03.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n4{background-image:url(../images/benefit04.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n5{background-image:url(../images/benefit05.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n6{background-image:url(../images/benefit06.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n7{background-image:url(../images/benefit07.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n8{background-image:url(../images/benefit08.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n9{background-image:url(../images/benefit09.png)}
.benefit-slide .benefit-slide-item .benefit-icon.n10{background-image:url(../images/benefit10.png)}


.youtube-slide{margin-top:30px;}
.youtube-slide .swiper{padding:20px 0 100px;}
.youtube-slide .youtube-slide-item .tit{font-size:28px;font-weight:700;line-height:56px;}
.youtube-slide .youtube-slide-item .txt{color:#666;font-size:16px;font-weight:400;line-height:20px;}
.youtube-slide .youtube-box{margin-top:20px;height:451px;}
.youtube-slide .youtube-slide-item .youtube-box{border-radius: 12px;overflow: hidden;}
/* .youtube-slide .swiper-slide.swiper-slide-active{transform: scale(1);transition: 0.3s;} */


.btn-wrap.bottom{float: right;position:relative;bottom:30px;right:40px;}
.btn-wrap.bottom:after{content:'';clear: both;}
.btn-wrap.bottom .btn{background:#0f7b50;color:#fff;font-size:14px;}
.section05{padding-bottom:6.5rem;}

.modal{display:none; position:fixed;top:50%;left:50%;transform: translate(-50%, -50%);width:600px;height:640px;background:#fff;border:1px solid #707070;border-radius: 34px;overflow: hidden;}
.modal .modal-header{padding:30px 45px 10px 45px;}
.modal .modal-cont{padding:0 45px 40px 45px;overflow-y: auto;height: 412px;}
.modal .modal-cont .sub-tit:first-child{margin-top:0;}
.modal .tit{font-size:40px;color:#000;font-weight:700;}
.modal .tit2{font-size:20px;color:#999;font-weight:400;margin-top:-5px;margin-bottom:5px;}
.modal .hash-tag{word-break: break-word;}
.modal .hash-tag span{display:inline-block;font-size:16px;color:#999;font-weight:400;margin-top:0;line-height: 24px;margin-left:5px;}
.modal .hash-tag span:first-child{margin-left:0;}
.modal .sub-tit{margin-top:30px;font-size:24px;color: #111;font-weight: 700;}
.modal .list-wrap{margin-top:18px;}
.modal .list-wrap li{word-break: keep-all;}
.modal .modal-close{position:absolute;bottom:0;width: 100%;height: 80px;font-size:24px;font-weight:700;color:#111;background:#dedede;}


.modal.on{display: block;z-index: 101; animation: modalShow 0.3s;}
.dim{position:fixed;top:0;width:100%;height:100%;background: rgba(0,0,0,0.6);z-index: 101;opacity:0;transition: 0.3s;}
.dim.on{opacity: 1;}


[data-animation]{opacity: 0;-webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0);}
[data-animation].aniOn{
  -webkit-animation: fadeInUp .5s forwards 0.21s cubic-bezier(0.44,0.01,0.64,0.99);
  -moz-animation: fadeInUp .5s forwards 0.21s cubic-bezier(0.44,0.01,0.64,0.99);
  -o-animation: fadeInUp .5s forwards 0.21s cubic-bezier(0.44,0.01,0.64,0.99);
  animation: fadeInUp .5s forwards 0.21s cubic-bezier(0.44,0.01,0.64,0.99);
}

.section01 .text-wrap [data-animation]{transition: 0s;}
.section01 .text-wrap [data-animation].aniOn{animation-delay:0.2s}





@-o-keyframes fadeInUp{
  from {
		opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@-moz-keyframes fadeInUp{
  from {
		opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@-webkit-keyframes fadeInUp{
  from {
		opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-o-keyframes modalShow{
 from {
		opacity: 0;
    transform: translate(-50%, -40%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
@-moz-keyframes modalShow{
 from {
		opacity: 0;
    transform: translate(-50%, -40%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
@-webkit-keyframes modalShow{
 from {
		opacity: 0;
    transform: translate(-50%, -40%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes modalShow {
	from {
		opacity: 0;
    transform: translate(-50%, -40%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}












@media screen and (max-width: 1920px) {
  .benefit-slide{width:100%;}
  
}
@media screen and (max-width: 1710px) {
  .section-bg .image-item.n1{right:-900px}
  
}
@media screen and (max-width: 1510px) {
  .recruitment-slide{width:100%;}
  .section-bg .image-item.n1{right:-1000px}
  
}
@media screen and (max-width: 960px) {
  .only-pc{display:none !important;}
  .only-mob{display:block !important;}
  .menu{display:block;width:2.4rem;height:2.4rem;position:relative;margin-left:auto;}
  .menu .line{position:absolute;left:50%; width:calc(100% - 4px);height:1px;background:#fff;transform: translateX(-50%);transition: 0.3s;}
  .menu .line.n1{top:4px;}
  .menu .line.n2{top:50%;margin-top:-1px}
  .menu .line.n3{bottom:4px;}
  .menu.active .line.n1{height:2px;top:11px;transform: translateX(-50%) rotate(45deg);}
  .menu.active .line.n2{height:2px;opacity: 0;}
  .menu.active .line.n3{height:2px;bottom:11px;transform: translateX(-50%) rotate(-45deg);}
  .swiper .swiper-button-prev:hover,
  .swiper .swiper-button-next:hover{transform: scale(1);transition: 1s;}
  section{padding:6rem 0 6.8rem;}
  .title{font-size:2.4rem;}
  .title.dot span{position:relative;font-size:2.4rem;}
  .title.dot span:before{width:0.4rem;height:0.4rem;top:-5px;}
  .inner{width:100%;padding:0 2.4rem;}
  .list-wrap li{margin-top:.5rem;line-height:2.0rem;}
  .gnb-wrap{height:5.5rem;}
  .gnb-wrap .util .nav-wrap {display:none;}
  .gnb-wrap .util .nav-wrap.on {position: absolute;top: 5.5rem;left: 0;width: 100%;background: #3da079;text-align: left;padding:0 2.4rem 2rem;}
  .gnb-wrap .util .nav-wrap.on a{display:block;font-size:2.0rem;line-height: 5.2rem;margin:0;}
  .gnb-wrap .util .nav-wrap  a:hover{transform: none;}


  .gnb-wrap .util .btn-wrap {display:none;}
  .gnb-wrap .inner{height:5.5rem;}
  .visual-wrap{margin-top:5.5rem;max-height:46.0rem;padding-top:9.0rem;background-image: url(../images/main_image_m.png);background-size:cover;}
  .visual-wrap .img-title{width:26.9rem;height:11.8rem;}
  .visual-wrap .text-wrap{padding-top:2.0rem;}
  .visual-wrap .text-wrap p{font-size:2.0rem;line-height:2.8rem;}
  .visual-wrap .text-wrap p + p{margin-top:0;}

  .youtube-wrap{padding-top:6.0rem;}
  .youtube-wrap .youtube-box{width:100%;height:18.0rem;}

  .section-bg{background:#eff2f1;}
  .section02{padding:4.0rem 0 5.0rem;}

  .part-wrap{display: block;margin-top:4.0rem;}
  .part-wrap .part-box .part-title{font-size:2.2rem;}
  .part-wrap .part-box dd{font-size:1.6rem;margin-top:1.0rem;}
  .part-wrap .part-box dd:first-of-type{margin-top:2.0rem;}
  .part-wrap .part-box {margin:2.5rem 0 0 0;border-top:1px solid #88b5a6;border-right:0;padding-top:3rem;}
  .part-wrap .part-box:first-child{border-top:0;padding-top:0;}
  .recruitment-slide{margin:5.1rem 0 auto;}
  .recruitment-slide .swiper{padding:0 0 6.6rem;}
  .recruitment-slide .swiper-slide{width:21.7rem;}
  .recruitment-slide .recruitment-item{width:100%;height:20.3rem;padding:2.4rem 1.6rem 2rem;}
  .recruitment-slide .recruitment-item .hash-tag{width:100% !important;}
  .recruitment-slide .recruitment-item .hash-tag span{font-size:1.2rem;}
  .section03{margin-top:2.0rem;}
  .swiper .swiper-control{width:100%;}
  .swiper .swiper-button-next{right:2.4rem;}
  .swiper .swiper-button-prev{left:2.4rem;}
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev{width:2.8rem;height:2.8rem;bottom:0.8rem}

  .section03 .title2{font-size:1.6rem;margin-top:3.8rem;}
  .process{position:relative;overflow: hidden;}
  .process::before{content:'';position:absolute;top:0;left:0;top: 3.0rem;left: 1.5rem;width:1px;height:calc(100% - 5rem);border:1px dashed #a4a5a5}
  .process .process-item:before{content:'';position:absolute;top:1.0rem;left:0;width:3.2rem;height:3.2rem;background:#fff;border-radius: 50%;border:1px solid #d3d3d3;}
  .process .process-item:after{    display: block;top: 2.1rem;left: 1.2rem;width:0.8rem;height:0.8rem;border-width:1px;transform: rotate(45deg);}
  .process .process-item:first-child:after{display:block;}
  .process .process-item i{width:5.2rem;height:5.2rem;}
  .process .process-item .text-wrap{margin-left:1.5rem}
  .process .process-item .tit{font-size:1.6rem;margin-top:0;}
  .process .process-item .txt{font-size:1.2rem;}

  .process{display: block;margin:20px 0 0;}
  .process .process-item{text-align: left;padding-left:50px;display: flex;align-items: center;}
  .process .process-item i{margin:0;}
  .section03 .list-wrap{margin-top:2rem}
  .section03 .list-wrap + .title2{margin-top:3.0rem}
  .section03 .list-wrap .letter-spacing-m{letter-spacing: -.03em;text-indent: -1px;}

  .youtube-wrap.n2{padding-bottom:6.0rem;}
  .youtube-wrap.n2 .title{line-height:1.4;letter-spacing: -.03em;}
  .youtube-wrap.n2 .youtube-box{width:100%;height:16.9rem;}

  .section04{padding-bottom:4.8rem}
  .benefit-slide {margin:2.0rem 0 0 0;}
  .benefit-slide .swiper{padding:0 0 6.6rem;}
  .benefit-slide .swiper-slide{width:21.8rem;}
  .benefit-slide .benefit-slide-item{width: 21.8rem;height:17.0rem;padding:2.4rem;}
  .benefit-slide .benefit-slide-item .tit-wrap .tit{font-size:1.8rem;}
  .benefit-slide .benefit-slide-item .tit-wrap .txt{font-size:1.2rem;line-height: 2.0rem;margin-top:0;}
  .benefit-slide .benefit-slide-item .benefit-icon{width:5.2rem;height:5.2rem;right:2.4rem;bottom:1.6rem;}


  .youtube-slide{margin:2.5rem 0 0 0;}
  .youtube-slide .youtube-slide-item .tit{font-size:1.8rem;line-height: 1.2;}
  .youtube-slide .youtube-slide-item .txt{font-size:1.2rem;margin-top:0.3rem}
  .youtube-slide .youtube-slide-item .youtube-box{width:100%;height: 18.5rem;}
  .youtube-slide .swiper{padding:0 0 6.6rem;}
  .youtube-slide .swiper .swiper-button-next{right:0;}
  .youtube-slide .swiper .swiper-button-prev{left:0;}
  .section05{padding-bottom:12.5rem;}
  .btn-wrap.bottom{display:block;position: fixed;display: flex; left: 0;right: 0;bottom: 0;z-index: 100;float: none;height:5.0rem;}
  .btn-wrap.bottom .btn{font-size:1.4rem;line-height:2.4rem;letter-spacing: -0.35px;; height:5.0rem;flex:1 auto;margin:0;border-radius: 0;display: flex;align-items: center;justify-content: center;}
  .btn-wrap.bottom .btn:last-child{background:#333;}
  .btn-wrap.bottom .btn:hover{    transform: scale(1);}

  .section-bg .image-item{display: none;}
  .modal{width:100%;height:calc(100% - 10%);bottom:0;transform: none;top:auto;bottom:0;left:0;border-bottom-right-radius:0;border-bottom-left-radius: 0;}
  .modal .modal-header{padding:2.4rem 2.4rem 1rem;}
  .modal .tit{font-size:2.2rem}
  .modal .tit2{font-size:1.4rem;margin:0 0 0 0}
  .modal .hash-tag {margin-left:-0.5rem;}
  .modal .hash-tag span{font-size:1.2rem;line-height: 2.0rem;margin-left:.5rem !important}
  .modal .modal-cont{padding:0 2.4rem 3.5rem;margin-bottom:0;}
  .modal .sub-tit{font-size:1.6rem;}
  .modal .list-wrap{margin-top: 1.3rem;}
  .modal .modal-close{height:4.8rem;font-size:1.6rem;}
  .modal.on{animation: none;}
}

@media screen and (max-width: 360px) {
  .visual-wrap{
    max-height:40rem;
  }
  .btn-wrap.bottom .btn{font-size:1.3rem;letter-spacing: -0.05em;}
}